@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Shrikhand";
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: "Roboto";
  font-size: 1.2rem;
  margin: 0;
}
.body .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(211, 211, 211, 0.8);
  animation: fade 5s linear forwards;
  position: fixed;
}
.body .loading::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-color: #eaeaea;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
@keyframes fade {
  0%, 100% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 100%;
  }
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
.header .main-logo {
  padding: 1.5rem 5rem;
  height: 100%;
  box-shadow: 0px 2px 5px 0px #B5B5B5;
}

.location {
  background-color: #eaeaea;
  text-align: center;
  padding: 1rem 0rem;
  margin-left: -1.2rem;
}
.location .location-pin {
  font-size: 1.2rem;
}

.nav {
  height: fit-content;
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
}
.nav .text {
  margin: 3rem 0rem;
}
.nav .button {
  color: white;
  font-size: 1rem;
  background-image: linear-gradient(#ff79da, #9356DC);
  border-radius: 2rem;
  padding: 1rem;
  border: none;
}

.how-it-works {
  height: fit-content;
  padding: 1.5rem;
  margin: 3rem 0rem;
}
.how-it-works .list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 3rem;
  gap: 2rem;
}
.how-it-works .button {
  width: 100%;
  background-color: #f6f6f6;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  padding: 2rem 0rem;
  border-radius: 2rem;
  box-shadow: 0px 2px 20px 0px rgba(181, 181, 181, 0.5);
  display: flex;
}
.how-it-works .button::hover {
  background-color: #f5edff;
}
.how-it-works .button::hover .icon {
  color: #9356DC;
}
.how-it-works .number {
  font-style: normal;
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: #9356DC;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  margin: -0.8rem;
  color: white;
}
.how-it-works .icon {
  padding: 0 1.5rem;
  color: #353535;
}

.restaurants {
  padding: 1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1.5rem;
  background-color: #f6f6f6;
}
.restaurants .card {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px -5px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.restaurants .description {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}
.restaurants .text {
  width: 80%;
  height: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
}
.restaurants .image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.restaurants .link {
  height: 80%;
}
.restaurants .name {
  width: 100%;
  margin: 0;
  font-weight: bold;
}
.restaurants .city {
  width: 100%;
  margin: 0;
}
.restaurants .new {
  display: flex;
  width: 5rem;
  height: 2rem;
  background-color: #99e2d0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: darkcyan;
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: #353535;
  padding: 1rem;
  color: white;
}
.footer .logo {
  font-weight: lighter;
  padding: 0.5rem 0;
}
.footer .list {
  list-style: none;
  margin: 0;
  padding: 1rem 0rem;
  line-height: 2rem;
  font-size: 1rem;
}
.footer .icon {
  padding-right: 0.8rem;
  font-size: 1rem;
}
.footer .link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .body {
    font-size: 1.8rem;
  }
  .header .main-logo {
    padding: 3rem 12rem;
  }
  .location .location-pin {
    font-size: 2rem;
  }
  .how-it-works .list {
    flex-direction: row;
  }
  .how-it-works .button {
    font-size: 1.2rem;
  }
  .restaurants .card {
    flex-direction: row;
    border-radius: 2rem;
  }
  .restaurants .description {
    width: 50%;
  }
  .restaurants .text {
    font-size: 1.8rem;
    padding: 3rem 1rem;
  }
  .restaurants .image {
    height: 100%;
    border-radius: 2rem;
    width: 100%;
  }
  .restaurants .link {
    height: 100%;
    width: 55%;
  }
  .restaurants .new {
    left: 15px;
  }
  .restaurants .footer .list {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .body {
    font-size: 2rem;
  }
  .header .main-logo {
    padding: 3rem 5rem;
  }
  .location {
    padding: 3rem;
  }
  .location .location-pin {
    font-size: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .nav {
    padding: 3rem;
  }
  .nav .button {
    font-size: 1.6rem;
  }
  .how-it-works {
    padding: 3rem;
  }
  .how-it-works .button {
    font-size: 1.6rem;
  }
  .how-it-works .number {
    font-size: 1.6rem;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
  }
  .restaurants {
    padding: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
  .restaurants .title {
    width: 100%;
  }
  .restaurants .card {
    flex-direction: column;
    width: 47%;
    height: 600px;
  }
  .restaurants .card .description {
    width: 100%;
    height: 20%;
  }
  .restaurants .card .description .heart-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .restaurants .card .description .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
  }
  .restaurants .card .description .heart a {
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }
  .restaurants .card .description .fa-regular {
    font-size: 3rem;
    position: absolute;
    z-index: 3;
  }
  .restaurants .card .description .solid-icon {
    background: linear-gradient(#9356DC, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
  }
  .restaurants .card .description .heart a .fa-solid {
    font-size: 3rem;
    position: relative;
    z-index: 1;
  }
  .restaurants .card .description .heart a::after {
    content: "";
    width: 100%;
    height: 3rem;
    top: 0rem;
    left: 0;
    background: white;
    position: absolute;
    transition: 2s;
    z-index: 3;
  }
  .restaurants .card .description .heart:hover a::after {
    top: -90px;
  }
  .restaurants .card .description .icon {
    width: 20%;
    height: 20%;
    padding: 1rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .restaurants .card .new {
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .restaurants .card .image {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .restaurants .card .link {
    width: 100%;
    height: 80%;
  }
  .footer {
    padding: 3rem;
  }
  .footer .logo {
    font-size: 2rem;
  }
  .footer .list {
    font-size: 1.6rem;
  }
  .footer .icon {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=home.css.map */