@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}



.body {
    @include body;

}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .main-logo {
        padding: 1.5rem 5rem;
        box-shadow: 0px 2px 5px 0px #B5B5B5;

    }

}

.location {
    background-color: $color-mid-grey;
    text-align: center;
    padding: 1rem 0rem;
    margin-left: -1.2rem;

    .location-pin {
        font-size: 1.2rem;

    }

}

.nav {
    height: fit-content;
    background-color: $color-light-grey;
    text-align: center;
    padding: 2rem;

    .text {
        margin: 3rem 0rem;

    }

    .button {
        @include colored-button;

    }
}

.how-it-works {
    height: fit-content;
    padding: 1.5rem;
    margin: 3rem 0rem;

    .list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 3rem;
        gap: 2rem;
        
    }

    .button {
        width: 100%;
        background-color: $color-light-grey;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        align-items: center;
        padding: 2rem 0rem;
        border-radius: 2rem;
        box-shadow: 0px 2px 20px 0px rgba(181,181,181,0.5);
        display: flex;
        &:active {
            background-color: $color-light-purple;

        }
        &:active .icon {
            color: $color-purple;

        }
    }

    .number {
        font-style: normal;
        font-weight: lighter;
        font-size: 0.8rem;
        background-color: $color-purple;
        border-radius: 1rem;
        padding: 0.2rem 0.5rem;
        margin: -0.8rem;
        color: white;
    }

    .icon {
        padding: 0 1.5rem;
        color: $color-dark-grey;

    }   
}

.restaurants {
    padding: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 1.5rem;
    background-color: $color-light-grey;


    .card {
        width: 100%;
        height: 20rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 15px -5px;
        display: flex;
        flex-direction: column;
        position: relative;

    }
        .link {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;

        }
        
        .description {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 25%;
        }

        .text {
            width: 80%;
            height: 100%;
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.3rem;
        
        }

        .image {
            width: 100%;
            height: 75%;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            object-fit: cover;

        }
        
        .name {
            width: 100%;
            margin: 0;
            font-weight: bold;
        
        }

        .city {
            width: 100%;
            margin: 0;

        }

        .icon {
            width: 20%;
            height: 100%;
            padding: 1rem;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .new {
            display: flex;
            width: 80px;
            height: 30px;
            background-color: $color-cyan;
            position: absolute;
            top: 15px;
            right: 15px;
            align-items: center;
            justify-content: center;
            font-size: 0.9rem;
            color: darkcyan;
            
        }
}

.footer {
    @include footer;

    .link {
        text-decoration: none;
        color: inherit;

    }
}


@media (min-width: 768px)  {

    .body {
        font-size: 1.8rem;

    }

    .header {

        .main-logo {
            padding: 3rem 12rem;

        }

    }

    .location {

        .location-pin {
            font-size: 2rem;

        }

    }

    .how-it-works {
        
        .list {
            flex-direction: row;
        }
    
        .button {
            font-size: 1.2rem;

        }

    }

    .restaurants {

        .card {
            flex-direction: row;
            border-radius: 2rem;
        }

        .description {
            width: 50%;
        }

        .text {
            font-size: 1.8rem;
            padding: 3rem 1rem;

        }

        .image {
            height: 100%;
            border-radius: 2rem;
            width: 50%;
        }

        .new {
            left: 15px;
        }

    .footer {

        .list {
            font-size: 1.2rem;
        }

    }
    }
}

@media (min-width: 992px) {

    .body {
        font-size: 3rem;

    }

    .header {
        
        .main-logo {
            padding: 5rem 26rem;

        }
        
    }

    .location {

        .location-pin {
            font-size: 3rem;

        }

    }

    h1 {
        font-size: 3rem;

    }

    .nav {
        
        .button {
            font-size: 2rem;

        }

    }

    .how-it-works {
        
        .button {
            font-size: 2rem;

        }

        .number {
            font-size: 2rem;
            border-radius: 3rem;
            padding: 0.5rem 1rem;

        }
    }

    .restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;

        .title {
            width: 100%;

        }
        .card {
            flex-direction: column;
            width: 45%;
            height: 500px;

        }

        .description {
            width: 100%;
            height: 30%;
        }

        .image {
            width: 100%;
            height: 70%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            
        }

        .icon {
            font-size: 3rem;

        }

    }

    .footer {

        .logo {
            font-size: 2rem;

        }

        .list {
            font-size: 1.5rem;

        }

        .icon {
            font-size: 1.2rem;

        }

    }
}