@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    @include body;
    position: relative;
}

 /* MOBILE */
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;

    .icon {
        align-self: center;
        padding: 1rem;
        position: absolute;
        left: 0;
        color: black;
        
    }
    
    .link {
        text-decoration: none;
        color: black;

    }

    .image {
        display: flex;
        align-self: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .logo {
        padding: 1.5rem 5rem;
        height: 100%;
        width: 100%;
    }
}

.restaurant-image {
    background-position: center;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .image {
        text-align: center;
        position: absolute;
        width: 100%;
        height: auto;

    }
}

.main {
    height: fit-content;
    padding: 2rem 1rem;
    background-color: $color-light-grey;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    width: 100%;
    

    .title {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        
        .name {
            font-weight: lighter;
            margin-right: auto;

        }
        
        .icon-container {
            position: relative;

        }

        .icon {
            align-self: center;
            padding: 0rem 1rem;
            font-size: 1.5rem;

        }

    }
    
    .menus {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        .entrees {
            display: flex;
            flex-direction: column;   
            gap: 1rem;
            opacity: 0;
            animation: scroll 0.5s ease-in-out forwards, fade 1.5s linear forwards;

        }

        .mains {
            display: flex;
            flex-direction: column;   
            gap: 1rem;
            opacity: 0;
            animation: scroll 0.5s ease-in-out forwards, fade 1.5s linear forwards;
            animation-delay: 300ms;
        }

        .deserts {
            display: flex;
            flex-direction: column;   
            gap: 1rem;
            opacity: 0;
            animation: scroll 0.5s ease-in-out forwards, fade 1.5s linear forwards;
            animation-delay: 600ms;
        }

        @keyframes fade {
            100% {
                opacity: 1;

            }
        }

        @keyframes scroll {
            to {
                transform: translateY(-20px);

            }

        }

        .menu-button {
            background-color: white;
            border: none;
            border-radius: 1rem;
            display: flex;
            font-family: $font-main;
            font-size: 1rem;
            padding: 0;
            width: 100%;
            height: 5rem;
            cursor: pointer;
        
            .text {
                margin-right: auto;
                text-align: left;
                width: 70%;
                padding: 1rem;
                
                
            }
    
            .dish {
                margin: 0;
                font-weight: bold;
                line-height: 1.5;
            }
    
            .sub-text {
                margin: 0;
                font-size: 0.8rem;
            }
    
            .price {
                margin: 0;
                font-weight: bold;
                align-self: flex-end;
                text-align: end;
                padding: 1rem;
                width: 20%
            }

            .icon {
                display: none;

            }
        }

        .icon-container {
            color: white;
            background-color: aquamarine;
            height: 100%;
            width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
            
            .icon {
                font-size: 1.5rem;

            }
        }

        .menu-button:active .icon-container {
            animation: slide 0.5s linear forwards;

        }
        
        .menu-button:active .icon {
            animation: rotate 0.5s linear forwards;
            display: block;
        }

        @keyframes slide {
            0% {
                width: 0;
                
            }
            
            100% {
                width: 20%;
                
            }
        
        }
        
        @keyframes rotate {
            to {
                transform: rotate(360deg);
        
            }
        
        }
    }
    

    .button {
        @include colored-button;
        width: 50%;
        align-self: center;
        margin: 2rem 0rem;
        text-align: center;
    }

    .button a {
        text-decoration: none;
        color: inherit;
    }
}

.footer {
    @include footer;
    position: absolute;

    .link {
        text-decoration: none;
        color: inherit;

    }
}

/* TABLET */

@media (min-width: 768px) {
    
    .header {
        height: 8rem;

        .icon {
            font-size: 2rem;
            padding: 1rem 2rem;
        }

        .logo {
            padding: 2rem 12rem;

        }
    }
    
    .main {

        padding: 2rem 2rem;

        h3 {
            font-size: 1.6rem;
            margin-top: 2rem;
        }

        .title {

            .name {
                font-size: 2.5rem;

            }

            .icon {
                font-size: 2.5rem;

            }
        }    
        
        .menus {

            .menu-button {
                height: 8rem;

                .text {
                    font-size: 1.6rem;
                }
                
                .sub-text {
                    font-size: 1.4rem;
                }
                
                .price {
                    font-size: 1.6rem;
    
                }
            }
        
            .icon-container {
                
                .icon {
                    font-size: 2.5rem;

                }

            }    

        }

        .button {
            font-size: 1.6rem;

        }
    }
    
    .footer {
        
        padding: 2rem;

        .logo {
            font-size: 2rem;

        }

        .list {
            font-size: 1.6rem;
        }
        
        .icon {
            font-size: 1.6rem;

        }
    }
}

/* DESKTOP */

@media (min-width: 992px) {
    
    .header {
        height: 10rem;

        .logo {
            padding: 3rem 5rem;

        }
    }

    .main {
        margin-top: 45%;
        
        .menus {
            flex-direction: row;
            justify-content: center;
            gap: 1rem;


            .entrees {
                opacity: 0;
                width: 35%;
                animation: scroll 0.5s ease-in-out forwards, fade 1.5s linear forwards;
            }

            .mains {
                opacity: 0;
                width: 35%;
                animation: scroll 0.5s ease-in-out forwards, fade 1.5s linear forwards;
                animation-delay: 300ms;
            }

            .deserts {
                opacity: 0;
                width: 35%;
                animation: scroll 0.5s ease-in-out forwards, fade 1.5s linear forwards;
                animation-delay: 600ms;
            }
        
            @keyframes fade {
                100% {
                    opacity: 1;

                }
            }

            @keyframes scroll {
                to {
                    transform: translateY(-50px);

                }

            }
            
            .menu-button {
                width: 100%;
                height: 15rem;
    
            }
    
        } 
        
        .icon-container {
            color: white;
            background-color: aquamarine;
            height: 100%;
            width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
        
        }
        
        .icon {
            font-size: 2rem;
            display: none;
            
        }
        
        .menu-button:hover .icon-container {
            animation: slide 0.5s linear forwards;

        }
        
        .menu-button:hover .icon {
            animation: rotate 0.5s linear forwards;
            display: block;
        }
        
        @keyframes slide {
            0% {
                width: 0;
                
            }
            
            100% {
                width: 30%;
                
            }
        
        }
        
        @keyframes rotate {
            to {
                transform: rotate(360deg);
        
            }
        
        }

        .button {
            width: 32.5%;

        }
    }
}